<div class="col-md-6 col-md-offset-3">
<% flash.each do |key, value| %>
<div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a>
      <div class="<%= flash_class(key) %>">
      
            <%= value %>
      </div>
      </div>
<% end %>
</div>
<section id="login">
    <div class="container">
      <div class="row">
          <div class="col-xs-12">
              <div class="form-wrap">
                <div class="col-md-6 col-md-offset-3">
                <h1>Log in with your email account</h1>

                  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                    <div class="form-group">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control", placeholder:"somebody@example", required:true %>
                    </div>

                    <div class="form-group">
                      <%= f.label :password %><br />
                      <%= f.password_field :password, autocomplete: "off", ame:"key", id:"key", class:"form-control", placeholder:"password", required:true %>
                    </div>

                    
                  <div class="checkbox">
                        <span class="character-checkbox" onclick="showPassword()"></span>
                        <span class="label">Show password</span>
                  </div>

                    <% if devise_mapping.rememberable? -%>
                      <div class="field">
                        <%= f.check_box :remember_me %>
                        <%= f.label :remember_me %>
                      </div>
                    <% end -%>
                    <form action="/form_barats">
                      <input type="submit" value="Login" class="btn btn-custom btn-lg btn-block">
                    </form>

                  <hr>
                  <% end %>
                  </div>
              </div>
        </div> <!-- /.col-xs-12 -->
      </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>


<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
function showPassword() {
    
    var key_attr = $('#key').attr('type');
    
    if(key_attr != 'text') {
        
        $('.checkbox').addClass('show');
        $('#key').attr('type', 'text');
        
    } else {
        
        $('.checkbox').removeClass('show');
        $('#key').attr('type', 'password');
        
    }

}
</script>