
<%= form_for@form_barat, html: { :multipart => true } do |f| %>
  <% if @form_barat.errors.any? %>
    <div id="error_explanation">
    <div class="alert alert-danger alert-dismissable">
          <a href="#" class="close" data-dismiss = "alert" aria-label="close">x</a> 
      <h2><%= pluralize(@form_barat.errors.count, "Upss") %> Data Belum Lengkap:</h2>

      <ul>
      <% @form_barat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
    </div>
  <% end %>

  <style>
    .jumbotron {
        border: 1px solid black;
        background-color: white;
    }
    body {
      background-color: #D9D1D1;
    }
    a {
    color: #fff;
    text-decoration: none;
    }
  </style>

<div class="container">
<br /><br />
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab1" data-toggle="tab">Form</a></li>
      <li><a href="#tab2" data-toggle="tab">Dokumentasi</a></li>
    </ul>
      <div class="tab-content">
          <div class="tab-pane active" id="tab1">
          <center><h1 class="display-4">Form Survey</h1></center>
          <hr >

          <div class="form-group">
            <%= f.label :side_id, "Site ID" %><br>
            <%= f.text_field :side_id, class: "form-control" %>
          </div>


          <div class="form-group">
            <%= f.label :nama_site_id %><br>
            <%= f.text_field :nama_site_id, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :provinsi %><br>
            <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[provinsi]" id="form_barat_provinsi" onchange="populate(this.id,'form_barat_kabupaten')">
              <option disabled selected value=""></option>
              <option value="Aceh">Aceh</option>
              <option value="Banten">Banten</option>
              <option value="Bengkulu">Bengkulu</option>
              <option value="Jawa Timur">Jawa Timur</option>
              <option value="Kepulauan Riau">Kepulauan Riau</option>
              <option value="Lampung">Lampung</option>
              <option value="Riau">Riau</option>
              <option value="Sumatera Barat">Sumatera Barat</option>
              <option value="Sumatera Utara">Sumatera Utara</option>
              <option value="Sumatera Selatan">Sumatera Selatan</option>
            </select>
          </div>
          
          <div class="form-group">
            <%= f.label :kabupaten %><br>
            <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[kabupaten]" id="form_barat_kabupaten">
            </select>
          </div>

          <div class="form-group">
            <%= f.label :kecamatan %><br>
            <%= f.text_field :kecamatan, class: "form-control", placeholder: "Kecamatan" %>
          </div>

          <div class="form-group">
            <%= f.label :kelurahan %><br>
            <%= f.text_field :kelurahan, class: "form-control", placeholder: "kelurahan" %>
          </div>

          <div class="form-group">
            <%= f.label :alamat %><br>
            <%= f.text_field :alamat, class: "form-control", placeholder: "Alamat" %>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :surveyor %><br>
                <%= f.text_field :surveyor, class: "form-control" %>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :project %><br>
                  <%= f.text_field :project, class: "form-control" %>
                </div>
              </div>
            </div>
          </div>

          <hr >
          <center><h2>Koordinat</h2></center>
          <hr>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :lattide %><br>
                <%= f.text_field :lattide, class: "form-control", placeholder: "-6.238270" %>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :longitude %><br>
                  <%= f.text_field :longitude, class: "form-control", placeholder: "106.975573" %>
                </div>
              </div>
            </div>
          </div>

          <hr >
          <center><h2>Ketersediaan Listrik</h2></center>
          <hr>
          
          <div class="form-group">
            <%= f.label :sumber_listrik %><br />
            <label class="radio-inline">
              <input type="radio" name="optradio" value="ada" class="detail"> Ada
            </label>
            <label class="radio-inline">
              <input type="radio" name="optradio" value="tidak" class="detail"> Tidak 
            </label>
            <br /><br />
            <div id="form-input">
              <%= label_tag 'sumber_listrik_PLN', 'PLN' %>
              <%= check_box_tag 'form_barat[sumber_listrik][]', 'PLN', checked4('PLN'), id: 'sumber_listrik_PLN' %> &nbsp;&nbsp;

              <%= label_tag 'sumber_listrik_SolarSel', 'SolarSel' %>
              <%= check_box_tag 'form_barat[sumber_listrik][]', 'SolarSel', checked4('SolarSel'), id: 'sumber_listrik_SolarSel' %>&nbsp;&nbsp;

              <%= label_tag 'sumber_listrik_Genset', 'Genset' %>
              <%= check_box_tag 'form_barat[sumber_listrik][]', 'Genset', checked4('Genset'), id: 'sumber_listrik_Genset' %>
              <div class="form-group">
                <%= f.label :lainnya_listrik, "Sumber Listrik Lainnya" %><br />
                <%= f.text_field :lainnya_listrik, class: "form-control", placeholder: "ex: Batu Bara" %>
              </div> 
             
              <div class="form-group">
                <%= f.label :jam_operasional %><br>
                <%= f.text_field :jam_operasional, class: "form-control", placeholder: "24 JAM" %>

              <div class="form-group">
                <%= f.label :id_pelanggan_listrik %><br>
                <%= f.text_field :id_pelanggan_listrik, class: "form-control", placeholder: "ex: 232111074358" %>
              </div>
              <div class="form-group">
                <%= f.label :kapasitas, "Kapasitas (Watt)" %><br>
                <%= f.text_field :kapasitas, class: "form-control", placeholder: "ex: 900" %>
              </div>
            </div>
          </div>
          
          <hr >
          <center><h2>Ketersediaan Akses Internet Eksisting</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :jenis_koneksi %><br>
            <label class="radio-inline">
              <input type="radio" name="internet" value="ada" class="detailinternet">Ada
            </label>
            <label class="radio-inline">
              <input type="radio" name="internet" value="tidak" class="detailinternet">Tidak
            </label>
            <br /><br />

            <div id="form-internet">
              <%= label_tag 'jenis_koneksi_VSAT', 'VSAT' %>
              <%= check_box_tag 'form_barat[jenis_koneksi][]', 'VSAT', checked5('VSAT'), id: 'jenis_koneksi_VSAT' %> &nbsp;&nbsp;

              <%= label_tag 'jenis_koneksi_RadioLink', 'RadioLink' %>
              <%= check_box_tag 'form_barat[jenis_koneksi][]', 'RadioLink', checked5('RadioLink'), id: 'jenis_koneksi_RadioLink' %>&nbsp;&nbsp;

              <%= label_tag 'jenis_koneksi_FiberOptik', 'FiberOptik' %>
              <%= check_box_tag 'form_barat[jenis_koneksi][]', 'FiberOptik', checked5('FiberOptik'), id: 'jenis_koneksi_FiberOptik' %>
              <br /><br />

              <div class="form-group">
                <%= f.label :lainnya_internet, "Koneksi Internet Lainnya" %><br>
                <%= f.text_field :lainnya_internet, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :kualitas_akses_internet %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[kualitas_akses_internet]" id="form_barat_kualitas_akses_internet">
                  <option disabled selected>Select One</option>
                  <option>Sangat Lambat</option>
                  <option>Lambat</option>
                  <option>Rata-rata</option>
                  <option>Cepat</option>
                  <option>Sangat Cepat</option>
                </select>
              </div>
              <div class="form-group">
                <%= f.label :bandwidt_tersedia, "Bandwidt Tersedia (Kbps)" %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[bandwidt_tersedia]" id="form_barat_bandwidt_tersedia">
                  <option disabled selected>Select One</option>
                  <option>0 > 250 Kbps</option>
                  <option>251 > 500 Kbps</option>
                  <option>501 > 750 Kbps</option>
                  <option>751 > 1000 Kbps</option>
                  <option>Diatas 1000 Kbps</option>
                </select>
              </div>
            </div>
          </div>
          

           <hr >
          <center><h2>Ketersediaan Akses Jaringan Selular (GSM)</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :jenis_koneksi_1, "Jenis Koneksi" %><br>
            <label class="radio-inline">
              <input type="radio" name="jaringan" value="ada" class="detailjaringan"> Ada
            </label>
            <label class="radio-inline">
              <input type="radio" name="jaringan" value="tidak" class="detailjaringan"> Tidak
            </label>
            <br /><br />

            <div id="form-jaringan">
              <%= label_tag 'jenis_koneksi_1_4G', '4G' %>
              <%= check_box_tag 'form_barat[jenis_koneksi_1][]', '4G', checked6('4G'), id: 'jenis_koneksi_1_4G' %> &nbsp;&nbsp;

              <%= label_tag 'sumber_listrik_3G', '3G' %>
              <%= check_box_tag 'form_barat[jenis_koneksi_1][]', '3G', checked6('3G'), id: 'sumber_listrik_3G' %>&nbsp;&nbsp;

              <%= label_tag 'sumber_listrik_2G', '2G' %>
              <%= check_box_tag 'form_barat[jenis_koneksi_1][]', '2G', checked6('2G'), id: 'sumber_listrik_2G' %>

              <br /><br />

              <div class="form-group">
                <%= f.label :nama_operator_seluler %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[nama_operator_seluler]" id="form_barat_nama_operator_seluler">
                  <option disabled selected>Select One</option>
                  <option>3 Tri</option>
                  <option>Axis</option>
                  <option>Bolt</option>
                  <option>Indosat</option>
                  <option>Smartfren</option>
                  <option>Telkomsel</option>
                  <option>XL</option>
                </select>
              </div>
              <div class="form-group">
                <%= f.label :kualitas_layanan %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[kualitas_layanan]" id="form_barat_kualitas_layanan">
                  <option disabled selected>Select One</option>
                  <option>Sangat Lambat</option>
                  <option>Lambat</option>
                  <option>Cepat</option>
                  <option>Sangat Cepat</option>
                </select>
              </div>
            </div>

          </div>

           <hr >
          <center><h2>Ketersediaan Perangkat</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :jumlah_komputer, "Jumlah Komputer/PC" %><br>
            <%= f.text_field :jumlah_komputer, class: "form-control", type:"number", min: "0" %>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :perangkat_pendukung_lainnya, "Perangkat Pendukung" %><br>
                <select class="selectpicker form-control" data-show-subtext="true" data-live-search="true" name="form_barat[perangkat_pendukung_lainnya]" id="form_barat_perangkat_pendukung_lainnya">
                  <option disabled selected>Select One</option>
                  <option>Tidak Ada</option>
                  <option>UPS</option>
                  <option>Modem</option>
                  <option>Stabilizer</option>
                  <option>Webcam</option>
                </select>
              </div>

              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= f.label :perangkat_lainnya, "Lainnya" %><br>
                <%= f.text_field :perangkat_lainnya, class: "form-control" %>
              </div>
            </div>
          </div>

          <hr >
          <center><h2>Penanggung Jawab Lokasi</h2></center>
          <hr>

          <div class="form-group">
            <%= f.label :nama_penanggung_jawab_lokasi_1, "Penanggung Jawab 1" %><br>
            <%= f.text_field :nama_penanggung_jawab_lokasi_1, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :kontak_penanggung_jawab_lokasi_1, "Kontak Penanggung Jawab 1" %><br>
            <%= f.text_field :kontak_penanggung_jawab_lokasi_1, class: "form-control", type: 'number', min: "0" %>
          </div>
          <div class="form-group">
            <%= f.label :nama_penanggung_jawab_lokasi_2, "Penanggung Jawab 2" %><br>
            <%= f.text_field :nama_penanggung_jawab_lokasi_2, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :kontak_penanggung_jawab_lokasi_2, "Kontak Penanggung Jawab 2" %><br>
            <%= f.text_field :kontak_penanggung_jawab_lokasi_2, class: "form-control", type: 'number', min: "0" %>
          </div>

          <hr >
          <center><h2>Transportasi Menuju Lokasi</h2></center>
          <hr>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-xs-6">
                <%= label_tag :transportasi_menuju_lokasi, 'Transportasi Menuju Lokasi' %> <br />

                <%= label_tag 'transportasi_menuju_lokasi_Darat', 'Darat' %>&nbsp;&nbsp;
                <%= check_box_tag 'form_barat[transportasi_menuju_lokasi][]', 'Darat', checked7('Darat'), id: 'transportasi_menuju_lokasi_Darat' %><br />

                <%= label_tag 'transportasi_menuju_lokasi_Laut', 'Laut' %>&nbsp;&nbsp;&nbsp;&nbsp;
                <%= check_box_tag 'form_barat[transportasi_menuju_lokasi][]', 'Laut', checked7('Laut'), id: 'transportasi_menuju_lokasi_Laut' %><br />

                <%= label_tag 'transportasi_menuju_lokasi_Udara', 'Udara' %>&nbsp;&nbsp;
                <%= check_box_tag 'form_barat[transportasi_menuju_lokasi][]', 'Udara', checked7('Udara'), id: 'transportasi_menuju_lokasi_udara' %>
              </div>
              <div class="col-lg-6 col-md-6 col-xs-6">
                <div class="form-group">
                  <%= f.label :keterangan_menuju_lokasi %><br>
                  <%= f.text_area :keterangan_menuju_lokasi, class: "form-control", rows: 4 %>
                </div>
              </div>
            </div>
          </div>  
          </div>
          <div class="form-group">
            <%= f.label :gambaran_menuju_lokasi %><br>
            <%= f.text_area :gambaran_menuju_lokasi, class: "form-control", rows: 5 %>
          </div>
                <a class="btn btn-danger btnNext" >Selanjutnya</a>
          </div>

          <div class="tab-pane" id="tab2">
          <center><h2>Dokumentasi</h2></center>
          <hr>
          <div class="form-group">
          <div class="row">
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"photo_sketsa", "Photo: Sketsa/Layout (maksimal 2 MB)" %>
              <%= f.file_field :photo_sketsa, :required => true %> 
              <span style="color: red;font-weight: bold" id="msg"></span> 
              <div id="target"></div>
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_gedung", "Photo: Site/Gedung (maksimal 2 MB)" %>
              <%= f.file_field :image_gedung, :required => true %>
              <span style="color: red;font-weight: bold" id="msg2"></span>
              <div id="target2"></div>          
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
             <%= f.label :"image_rencana_tempat_perangkat", "Photo: Rencana Tempat Perangkat (maksimal 2 MB)" %>
              <%= f.file_field :image_rencana_tempat_perangkat, :required => true %>
              <span style="color: red;font-weight: bold" id="msg3"></span>
              <div id="target3"></div>          
            </div>
          </div>
          </div>  
            <br><br>
          <div class="row">  
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_genset", "Photo: KWh Mwte/Genset/Solar Cell (maksimal 2 MB)" %>
              <%= f.file_field :image_genset, :required => true %>
              <span style="color: red;font-weight: bold" id="msg4"></span>
              <div id="target4"></div>          
            </div>
          </div>

           <hr>
            <center><h2>Foto Panoramic</h2></center>
            <hr>
            <div class="row">
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_lingkungan_depan", "Photo Lingkungan Depan (maksimal 2 MB)" %>
              <%= f.file_field :image_lingkungan_depan, :required => true %>
              <span style="color: red;font-weight: bold" id="msg5"></span>  
              <div id="target5"></div>
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_lingkungan_belakang", "Photo Lingkungan Belakang (maksimal 2 MB)" %>
              <%= f.file_field :image_lingkungan_belakang, :required => true %>
              <span style="color: red;font-weight: bold" id="msg6"></span>
              <div id="target6"></div>          
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
             <%= f.label :"image_lingkungan_kiri", "Photo Lingkungan Sebelah Kiri (maksimal 2 MB)" %>
              <%= f.file_field :image_lingkungan_kiri, :required => true %>
              <span style="color: red;font-weight: bold" id="msg7"></span>
              <div id="target7"></div>          
            </div>
            </div>  
            <br><br>
          <div class="row">
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_lingkungan_kanan", "Photo Lingkungan Sebelah Kanan (maksimal 2 MB)" %>
              <%= f.file_field :image_lingkungan_kanan, :required => true %>
              <span style="color: red;font-weight: bold" id="msg8"></span>
              <div id="target8"></div>          
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_akses_ke_site", "Photo Akses ke Site (maksimal 2 MB)" %>
              <%= f.file_field :image_akses_ke_site, :required => true %>
              <span style="color: red;font-weight: bold" id="msg9"></span>  
              <div id="target9"></div>
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_akses_ke_site_1", "Photo Akses ke Site (maksimal 2 MB)" %>
              <%= f.file_field :image_akses_ke_site_1, :required => true%>
              <span style="color: red;font-weight: bold" id="msg10"></span>
              <div id="target10"></div>          
            </div>
            </div>  
            <br><br>
          <div class="row">
            <div class="col-md-4 .col-sm-4 sideleft">
             <%= f.label :"image_geotagging", "Perangkat Geotagging (maksimal 2 MB)" %>
              <%= f.file_field :image_geotagging, :required => true %>
              <span style="color: red;font-weight: bold" id="msg11"></span>
              <div id="target11"></div>          
            </div>
            <div class="col-md-4 .col-sm-4 sideleft">
              <%= f.label :"image_surveyor", "Photo Surveyor di Lokasi (maksimal 2 MB)" %>
              <%= f.file_field :image_surveyor, :required => true %>
              <span style="color: red;font-weight: bold" id="msg12"></span>
              <div id="target12"></div>          
            </div>
          </div>

          <hr >
            <center><h2>Photo Tambahan</h2></center>
          <hr>

            <div class="row">
              <div class="col-md-4 .col-sm-4 sideleft">
                <%= f.label :"image_tambahan_photo_1", "Tambahan Photo (maksimal 2 MB)" %>
                <%= f.file_field :image_tambahan_photo_1 %>
                <span style="color: red;font-weight: bold" id="msg13"></span>  
                <div id="target13"></div>
              </div>
            </div>
            <br><br>
            <div class="form-group">
              <%= f.label :catatan_tambahan,"Catatan Tambahan(Wajib Diisi)" %>
              <%= f.text_area :catatan_tambahan, class: "form-control", rows: 5, :required => true %>
            </div>
              <%= f.hidden_field :member_id , :value => current_member.id %>
            
            <center>
              <div class="row">
                <div class="col-xs-6 center">
                  <a class="btn btn-danger btnPrevious" >Kembali</a>
                </div>
                <div class="col-xs-6">
                  <div class="actions">
                    <%= f.submit "Submit", class: "btn btn-success" %>
                  </div>
                </div>
              </div>
            </center>   
    </div>           
<% end %>
    
  </div>
</div>
</div>
</div>

<script type="text/javascript">
$('select').select2({width: "100%"});
</script>

<script type="text/javascript">
   $('.btnNext').click(function(){
  $('.nav-tabs > .active').next('li').find('a').trigger('click');
});

  $('.btnPrevious').click(function(){
  $('.nav-tabs > .active').prev('li').find('a').trigger('click');
});
</script>

<!-- JAVASCRIPT KETERSEDIAAN LISTRIK -->
<script>
$(document).ready(function(){
$("#form-input").css("display","none"); //Menghilangkan form-input ketika pertama kali dijalankan
$(".detail").click(function(){ //Memberikan even ketika class detail di klik (class detail ialah class radio button)
if ($("input[name='optradio']:checked").val() == "ada" ) { //Jika radio button "berbeda" dipilih maka tampilkan form-inputan
$("#form-input").slideDown("fast"); //Efek Slide Down (Menampilkan Form Input)
} else {
$("#form-input").slideUp("fast"); //Efek Slide Up (Menghilangkan Form Input)
}
});
});
</script>

<!-- JAVASCRIPT KETERSEDIAAN AKSES INTERNET -->
<script>
$(document).ready(function(){
$("#form-internet").css("display","none"); //Menghilangkan form-input ketika pertama kali dijalankan
$(".detailinternet").click(function(){ //Memberikan even ketika class detail di klik (class detail ialah class radio button)
if ($("input[name='internet']:checked").val() == "ada" ) { //Jika radio button "berbeda" dipilih maka tampilkan form-inputan
$("#form-internet").slideDown("fast"); //Efek Slide Down (Menampilkan Form Input)
} else {
$("#form-internet").slideUp("fast"); //Efek Slide Up (Menghilangkan Form Input)
}
});
});
</script>

<!-- JAVASCRIPT KETERSEDIAAN JARINGAN SELULAR -->
<script>
$(document).ready(function(){
$("#form-jaringan").css("display","none"); //Menghilangkan form-input ketika pertama kali dijalankan
$(".detailjaringan").click(function(){ //Memberikan even ketika class detail di klik (class detail ialah class radio button)
if ($("input[name='jaringan']:checked").val() == "ada" ) { //Jika radio button "berbeda" dipilih maka tampilkan form-inputan
$("#form-jaringan").slideDown("fast"); //Efek Slide Down (Menampilkan Form Input)
} else {
$("#form-jaringan").slideUp("fast"); //Efek Slide Up (Menghilangkan Form Input)
}
});
});
</script>


<!-- JAVASCRIPT SHOW PHOTO -->
<script type="text/javascript">
  $(function() {
  $('#form_barat_photo_sketsa').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#form_barat_image_gedung').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target2').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#form_barat_image_rencana_tempat_perangkat').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target3').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#form_barat_image_genset').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target4').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#form_barat_image_lingkungan_depan').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target5').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#form_barat_image_lingkungan_belakang').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target6').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#form_barat_image_lingkungan_kiri').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target7').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#form_barat_image_lingkungan_kanan').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target8').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#form_barat_image_akses_ke_site').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target9').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#form_barat_image_akses_ke_site_1').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target10').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#form_barat_image_geotagging').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target11').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#form_barat_image_surveyor').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target12').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#form_barat_image_tambahan_photo_1').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target13').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>


<script type="text/javascript">
  $(function() {
  $('#form_barat_image_tambahan_photo_2').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target14').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script type="text/javascript">
  $(function() {
  $('#form_barat_image_tambahan_photo_3').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      img.height = 150;
      img.width = 200;
      console.log(file);
      img.src = file.target.result;
      $('#target15').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});

</script>

<script>
var uploadField = document.getElementById("form_barat_photo_sketsa");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("form_barat_image_gedung");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg2").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg2").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("form_barat_image_rencana_tempat_perangkat");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg3").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg3").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("form_barat_image_genset");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg4").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";
    } else {
      document.getElementById("msg4").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("form_barat_image_lingkungan_depan");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg5").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg5").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("form_barat_image_lingkungan_belakang");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg6").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg6").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("form_barat_image_lingkungan_kiri");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg7").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg7").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("form_barat_image_lingkungan_kanan");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg8").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg8").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("form_barat_image_akses_ke_site");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg9").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg9").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("form_barat_image_akses_ke_site_1");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg10").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg10").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("form_barat_image_geotagging");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg11").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg11").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("form_barat_image_surveyor");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg12").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg12").innerHTML = "";
    };
};
</script>

<script>
var uploadField = document.getElementById("form_barat_image_tambahan_photo_1");

uploadField.onchange = function() {
    if(this.files[0].size > 2097152){
       document.getElementById("msg13").innerHTML = "Ukuran Photo Maksimal 2 MB !";
       this.value = "";

    } else {
      document.getElementById("msg13").innerHTML = "";
    };
};
</script>

<script>
function populate(form_barat_provinsi,form_barat_kabupaten){
  var form_barat_provinsi = document.getElementById(form_barat_provinsi);
  var form_barat_kabupaten = document.getElementById(form_barat_kabupaten);
  form_barat_kabupaten.innerHTML = "";
  if(form_barat_provinsi.value == "Aceh"){
    var optionArray = ["|","Aceh Besar|Aceh Besar","Aceh Singkil|Aceh Singkil"];
  } else if(form_barat_provinsi.value == "Sumatera Utara"){
    var optionArray = ["|","Nias|Nias","Nias Selatan|Nias Selatan"];
  } else if(form_barat_provinsi.value == "Riau"){
    var optionArray = ["|","Kepulauan Meranti|Kepulauan Meranti"];
  } else if(form_barat_provinsi.value == "Kepulauan Riau"){
    var optionArray = ["|","Natuna|Natuna","Bintan|Bintan"];
  } else if(form_barat_provinsi.value == "Bengkulu"){
    var optionArray = ["|","Bengkulu Utara|Bengkulu Utara","Seluma|Seluma"];
  } else if(form_barat_provinsi.value == "Sumatera Barat"){
    var optionArray = ["|","Pasaman Barat|Pasaman Barat","Solok Selatan|Solok Selatan"];
  } else if(form_barat_provinsi.value == "Sumatera Selatan"){
    var optionArray = ["|","Musi Rawas|Musi Rawas","Musi Rawas Utara|Musi Rawas Utara"];
  } else if(form_barat_provinsi.value == "Lampung"){
    var optionArray = ["|","Pesisir Barat|Pesisir Barat"];
  } else if(form_barat_provinsi.value == "Banten"){
    var optionArray = ["|","Lebak|Lebak","Pandeglang|Pandeglang"];
  } else if(form_barat_provinsi.value == "Jawa Timur"){
    var optionArray = ["|","Bondowoso|Bondowoso"];
  }
  for(var option in optionArray){
    var pair = optionArray[option].split("|");
    var newOption = document.createElement("option");
    newOption.value = pair[0];
    newOption.innerHTML = pair[1];
    form_barat_kabupaten.options.add(newOption);
  }
}
</script>