<div class="container-fluid">
<div class="table-responsive">
<table class="table table-stripted table-hover table-responsive">
  <thead>
    <tr>
            
            <th>Provinsi</th>
            <th>Kota / Kabupaten</th>
            <th>Action</th>
      
    </tr>
  </thead>  
  <tbody>     
       <% @members.each do |member| %>
            <tr>
              <td data-title="Provinsi"><%= member.provinsi %></td>
              <td data-title="Kota/Kabupaten"><%= member.kabupaten %></td>
              <td><%= link_to 'Show', member %>
              <%= link_to 'Edit', edit_form_barat_path(member) %>
              <%= link_to 'Delete', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
            </tr>
    <% end %>
      </tbody>
</table>
</div>
</div>
