 <div class="container-fluid">
  <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5><i class="fa fa-flag-o red"></i><strong>Pemetaan Internet Wilayah Barat Provinsi Sumatera Utara</strong></h5>
              </div>
              <div class="panel-body">
                <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-1">
                <%= pie_chart FormBarat.where(provinsi:"Sumatera Utara").group(:kabupaten).count, discrete: true, donut:true, height: "400px", messages: {empty: "No data"} %>
                </div>
              </div>
            </div>
        </div>
  </div> 
   
<!--
 <div class="row">
        <div class="col-lg-6 col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5><i class="fa fa-flag-o red"></i><strong>Pemetaan Internet Wilayah Barat Provinsi Sumatera Utara Per Kecamatan</strong></h5>
              </div>
              <div class="panel-body">
                <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <%#= pie_chart FormBarat.where(provinsi:"Sumatera Utara").group(:kecamatan).count, discrete: true, donut:true %>
                </div>
              </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5><i class="fa fa-flag-o red"></i><strong>Pemetaan Internet Wilayah Barat Provinsi Sumatera Utara Per Kelurahan</strong></h5>  
            </div>
            <div class="panel-body">
              <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <%#= pie_chart FormBarat.where(provinsi:"Sumatera Utara").group(:kelurahan).count, discrete: true, donut:true %>
              </div>
            </div>
          </div>  
        </div>
  </div>
  -->

  <div class="container">
  <div class="table-responsive">
    <div class="col-md-12">          
      <table class="table table-bordered table-striped table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th style="text-align: center;">Provinsi</th>
            <th style="text-align: center;">Kota / Kabupaten</th>
            <th style="text-align: center;">Kecamatan</th>
            <th style="text-align: center;">Kelurahan</th>
            <th style="text-align: center;">Lattide</th>
            <th style="text-align: center;">Longitude</th>
          </tr>
        </thead>

        <tbody>
          <% @form_barats.each do |form_barat| %>
            <tr>
              <td data-title="Provinsi"><%= form_barat.provinsi %></td>
              <td data-title="Kota/Kabupaten"><%= form_barat.kabupaten %></td>
              <td data-title="Kota/Kabupaten"><%= form_barat.kecamatan %></td>
              <td data-title="Kota/Kabupaten"><%= form_barat.kelurahan %></td>
              <td data-title="Kecamatan"><%= form_barat.lattide %></td>
              <td data-title="Kelurahan"><%= form_barat.longitude %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div> 
  </div>   