<%= render 'layouts/navbar' %>
<style type="text/css">
   a {
    color: #fff;
    text-decoration: none;
}
</style>

<div class="container-fluid">
  <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h5><i class="fa fa-flag-o red"></i><strong>Pemetaan Internet Wilayah Barat</strong></h5>
              </div>
              <div class="panel-body">
                <div class= "col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  
                    <%= pie_chart FormBarat.group(:provinsi).count, messages: {empty: "No data"} %>
                  
                </div>
                <%= link_to "Lihat wilayah Barat", wilayah_barat_path, class:"btn btn-danger" %>
              </div>
            </div>
        </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12 col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5><i class="fa fa-flag-o red"></i><strong>Pemetaan Internet Wilayah Barat</strong></h5>  
            </div>
            <ul class="nav nav-tabs">
                  <li class="active"><a data-toggle="tab" href="#home">Per-Hari</a></li>
                  <li><a data-toggle="tab" href="#menu1">Per-Minggu</a></li>
                  <li><a data-toggle="tab" href="#menu2">Per-Bulan</a></li>
                  <li><a data-toggle="tab" href="#menu3">Per-Tahun</a></li>
                </ul><br>  
            <div class="panel-body">
                <div class="tab-content">
                  <div id="home" class="tab-pane fade in active">
                         <div class= "col-md-12">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <%#= line_chart SurveyForm.group_by_day(:created_at, format: "%a").count %>
                               <%= line_chart @form_barats.group_by_day(:created_at, format: "%d %B , %Y").count, discrete: true, messages: {empty: "No data"}, xtitle: "Hari", ytitle: "Jumlah Data Masuk" %>;

                              </div>
                        </div>
                  </div>
                  <div id="menu1" class="tab-pane fade">
                         <div class= "col-md-12">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <%#= line_chart SurveyForm.group_by_day(:created_at, format: "%a").count %>
                               <%= line_chart @form_barats.group_by_week(:created_at, format: "%d %B, %Y").count, discrete: true, messages: {empty: "No data"}, xtitle: "Minggu", ytitle: "Jumlah Data Masuk" %>;

                              </div>
                        </div>
                  </div>
                  <div id="menu2" class="tab-pane fade">
                        <div class= "col-md-12">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <%#= line_chart SurveyForm.group_by_day(:created_at, format: "%a").count %>
                               <%= line_chart @form_barats.group_by_month(:created_at, format: "%B %Y").count, discrete: true, messages: {empty: "No data"}, xtitle: "Bulan", ytitle: "Jumlah Data Masuk" %>;

                              </div>
                        </div>
                  </div>
                  <div id="menu3" class="tab-pane fade">
                        <div class= "col-md-12">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <%#= line_chart SurveyForm.group_by_day(:created_at, format: "%a").count %>
                               <%= line_chart @form_barats.group_by_year(:created_at, format: "%Y").count, discrete: true, messages: {empty: "No data"}, xtitle: "Tahun", ytitle: "Jumlah Data Masuk" %>;
                              </div>
                        </div>
                  </div>
               </div>
            </div>
          </div>
        </div>
    <div class="col-lg-12 col-md-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h5><i class="fa fa-flag-o red"></i><strong>Maps Wilayah Barat</strong></h5>  
            </div>
            <div class="panel-body">
              <div class= "col-md-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  
                    <div id="map" style='height: 400px;'></div>
                  
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
        <!-- statics end -->
</div>          

 
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

  <!-- Doughnut Chart -->
    <script>
      $(document).ready(function(){
        var options = {
          legend: false,
          responsive: false
        };

        new Chart(document.getElementById("canvas1"), {
          type: 'doughnut',
          tooltipFillColor: "rgba(51, 51, 51, 0.55)",
          data: {
            labels: [
              "Jawa Barat",
              "Jawa Tengah",
              "Jawa Timur",
              "Banten",
              "Sumatra Barat"
            ],
            datasets: [{
              data: [15, 20, 30, 10, 30],
              backgroundColor: [
                "#1ABB9C",
                "#FF8C00",
                "#9B59B6",
                "#FFFF00",
                "#E74C3C"
              ],
              hoverBackgroundColor: [
                "#1ABB9C",
                "#FF8C00",
                "#9B59B6",
                "#FFFF00",
                "#E74C3C"
              ]
            }]
          },
          options: options
        });
      });
    </script>
    <!-- /Doughnut Chart -->

    <!-- Doughnut Chart -->
    <script>
      $(document).ready(function(){
        var options = {
          legend: false,
          responsive: false
        };

        new Chart(document.getElementById("canvas2"), {
          type: 'doughnut',
          tooltipFillColor: "rgba(51, 51, 51, 0.55)",
          data: {
            labels: [
              "Nusa Tenggara Timur",
              "Kalimantan Utara",
              "Sulawesi Tengah",
              "Gorontalo",
              "Nusa Tenggara Barat"
            ],
            datasets: [{
              data: [15, 20, 30, 10, 30],
              backgroundColor: [
                "#000000",
                "#1ABB9C",
                "#A0522D",
                "#9CC2CB",
                "#E74C3C"
              ],
              hoverBackgroundColor: [
                "#000000",
                "#1ABB9C",
                "#A0522D",
                "#9CC2CB",
                "#E74C3C"
              ]
            }]
          },
          options: options
        });
      });
    </script>
    <!-- /Doughnut Chart -->

    <script>
var ctx = document.getElementById("grafikBatang").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["0", "Jawa Barat", "Jawa Tengah", "Jawa Timur", "Banten", "Sumatra Barat"],
        datasets: [{
            label: '# Speed Internet (Mbps)',
            data: [0, 30, 25, 23, 15, 5 ],
            backgroundColor: [
                'rgba(128, 128, 128, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

<script>
var ctx = document.getElementById("grafikBatang2").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["0", "Nusa Tenggara Timur", "Kalimantan Utara", "Sulawesi Tengah", "Kalimantan Utara", "Gorontalo", "Nusa Tenggara Barat"],
        datasets: [{
            label: 'Speed Internet (Mbps)',
            data: [0, 20, 15, 5, 8, 5, 3],
            backgroundColor: [
               
                'rgb(113, 249, 249)',
                
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(75, 192, 192, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script> 

<script>
var speedCanvas = document.getElementById("speedChart");

Chart.defaults.global.defaultFontFamily = "Lato";
Chart.defaults.global.defaultFontSize = 18;

var dataFirst = {
    label: "Car A - Speed (mph)",
    data: [0, 59, 75, 20, 20, 55, 40],
    lineTension: 0.3,
    fill: false,
    borderColor: 'red',
    backgroundColor: 'transparent',
    pointBorderColor: 'red',
    pointBackgroundColor: 'lightgreen',
    pointRadius: 5,
    pointHoverRadius: 15,
    pointHitRadius: 30,
    pointBorderWidth: 2,
    pointStyle: 'rect'
  };

var dataSecond = {
    label: "Car B - Speed (mph)",
    data: [20, 15, 60, 60, 65, 30, 70],
    lineTension: 0.3,
    fill: false,
    borderColor: 'purple',
    backgroundColor: 'transparent',
    pointBorderColor: 'purple',
    pointBackgroundColor: 'lightgreen',
    pointRadius: 5,
    pointHoverRadius: 15,
    pointHitRadius: 30,
    pointBorderWidth: 2
  };

var speedData = {
  labels: ["0s", "10s", "20s", "30s", "40s", "50s", "60s"],
  datasets: [dataFirst, dataSecond]
};

var chartOptions = {
  legend: {
    display: true,
    position: 'top',
    labels: {
      boxWidth: 80,
      fontColor: 'black'
    }
  }
};

var lineChart = new Chart(speedCanvas, {
  type: 'line',
  data: speedData,
  options: chartOptions
});
</script>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: true
      // pass in other Google Maps API options here
    },
    internal: {
      id: 'map'
    }
  },
  function(){
   markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  }
);
</script>
