body {
  background-color:#FFF;
  font-family:'Roboto Slab', serif;

}
.container {
  margin: 0px auto;
}

/*--------------------START NAVBAR-----------------------*/

.navbar-default {
  background-color:#057D67 !important;
  border-bottom: 3px solid #FFF !important;
  font-family:Verdana, Geneva, sans-serif;
  padding:0px 10px;
}
.navbar-default .navbar-brand {
  color: #00a0df !important;
  padding:10px;
  font:Verdana, Geneva, sans-serif;
  font-size:2em;
}
.glyphicon-cutlery {
  left: -9px;
  top: 7px;
}
  
.navbar-default .navbar-nav > li > a {
  color: #fff!important;
  font-size:14px;
  
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: none!important;
  text-decoration: underline;
  background-color: #044037 !important;
}
a.navbar-brand span {
  color: #fed189;
}
.navbar-default .navbar-toggle {
  border-color: #000 !important;
  background-color:#044037 !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: none !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color:#FFF !important;
}

.nav-itemButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.button-smaller {
    color:#fff;
    height: 27px;
    line-height: 25px;
    font-size: 16px;
    padding: 0 10px;
    background-color:#044037;
    border: 1px solid;
    border-color: #fff;
}

.button-smaller:hover {
  background-color:#fff;
  color:#044037;

}

/*--------------------END NAVBAR-----------------------*/

/*    --------------------------------------------------
  :: Login Section
  -------------------------------------------------- */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 100%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
  margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
  text-align: center;
  display: block;
}

/*    --------------------------------------------------
  :: Inputs & Buttons
  -------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
  background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
  -------------------------------------------------- */
footer {
    color: #6d6d6d;
    font-size: 20px;
    text-align: center;
    background-color:#057D67;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
footer p {
    margin-bottom: 0;
}
footer a {
    color: #fff;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    background-color: #044037;
}

label {
  color: black;
  font-weight: bold;
}
/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #323130; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}