<%= stylesheet_link_tag "style" %>
<% provide(:title, 'Dashboard Kominfo') %>

<% if current_member %>
<div class="header">
      <div class="header-nav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">        
          
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand"><%= link_to image_tag("https://s3.amazonaws.com/kominfo/logo2.svg",size:"100x47"),root_path %></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
             <li><%= link_to "Data Wilayah Barat", form_barats_path %></li>
            <li><span class="nav-itemButton"><%= link_to "Form Survey ",new_form_barat_path,class:"btn button-smaller" %></li></span>
              <% if current_member %>
            <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li><a><%= link_to "My Data", wilayah_barat_mydata_path %></a></li>
                        <li><a><%= link_to "Logout", destroy_member_session_path || destroy_user_barat_session_path, method: :delete %></a>
                        </li>
                    </ul>
           </li> 
                <% end %>
            </ul>
          </div><!-- /navbar-collapse -->
         </div>

        </nav>
  </div>
  </div>
<% else %>
<div class="header">
      <div class="header-nav">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">        
          
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
              <a class="navbar-brand" href="/"><%= link_to image_tag("https://s3.amazonaws.com/kominfo/logo2.svg",size:"100x47"),root_path %></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right"> 
            <li><%= link_to "Data Wilayah Barat", form_barats_path %></li>           
            <li><span class="nav-itemButton"><%= link_to "Login ",new_member_session_path,class:"btn button-smaller" %></li></span>          
              </li>
          </ul>
          </div><!-- /navbar-collapse -->
         </div>

        </nav>
  </div>
  </div>
  <% end %>
  <br/>
