<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <title>SurveyKominfo</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag  'application','data-turbolinks-track'=> true %>
      <%= javascript_include_tag 'application', 'Chart.bundle', 'chartkick', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'bootstrap' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

    <%= favicon_link_tag 'kominfo.jpg' %>
	  <%= csrf_meta_tags %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="//maps.google.com/maps/api/js?key=AIzaSyCGKsOuXHyfqzIz9Mix3gUWgBX_SYrJ3Sg"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->


</head>
<body>
    <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed data-push data-responsive-width="992px" data-has-scrolling-region>

      <div class="mdk-drawer-layout__content">
        <!-- header-layout -->
        <div class="mdk-header-layout js-mdk-header-layout  mdk-header--fixed  mdk-header-layout__content--scrollable">
          <!-- header -->
          <div class="mdk-header js-mdk-header bg-primary" data-fixed>
              <div class="mdk-header__content">
                <%= render 'layouts/navbar' %>
              </div>
          </div>

          <!-- content -->
          <div class="mdk-header-layout__content top-navbar mdk-header-layout__content--scrollable h-100">
              <!-- main content -->
              
          </div>
        </div>

      </div>
      <!-- // END drawer-layout__content -->

      <!-- drawer -->
      <div class="mdk-drawer js-mdk-drawer" id="default-drawer">
        <div class="mdk-drawer__content">
          <div class="mdk-drawer__inner" data-simplebar data-simplebar-force-enabled="true">
            <%= render 'layouts/sidebar' %>
          </div>
        </div>
      </div>
      <!-- // END drawer -->
    </div>

    <br /><br />
  <%= yield %>  
       
<%= render 'layouts/footer' %>

</body>
</html>
